*, *::after, *::before{
    box-sizing: border-box;
}



:root{
    --background-color: #232a2f;
    --background-color2: #adb8bb;
    --text-color: #153147;
    --text-color2: #f9f8f7;
    --text-color3: #edeae4;
    --section-padding: 20px;
}
body{
    margin:0;
}

header{
    position: fixed;
    width: 100%;
    max-height: 18%;
    background-color: var(--background-color);
    margin: 0;
    z-index: 1;
    
}


.container{
    display: flex;
    gap: 100px;
    align-items: center;

}

.small-container{
    background-color: var(--background-color2);
    height: 6em;
    width: 6em;

    border-radius: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 1em;
}

.nav{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav ul{
    display:flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-li{
    list-style-type: none;
    padding: 20px;
    color: var(--background-color2);
}

.nav-li:hover{
    color: var(--text-color2)
}

section{
    padding: var(--section-padding);
}

.report{
    margin-top: -150px;
}

.report-section{
    
    display: flex;
    flex-direction: column;
}

.report-section:first-child{
    padding-top: 200px;
}

.title, .note-title{
    text-align: center;
    border-bottom: 2px solid var(--background-color2);
}

.analysis-section{
    
    margin-top: 20px;
}

.stat-div{
    display: flex;
    justify-content: center;
}

.stat-li{
    display: inline-block;
    margin-right: 100px;
    margin-top: 10px;
    background-color: var(--text-color3);
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
}

.stat-li-p{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.order-type{
    font-size: 50px;
}

.note-section{
    padding: 10px;
}

.grid-stat-section{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;

}


.stat-img{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    background-color: var(--text-color3);
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
}


.grid-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 2px solid var(--background-color2)
}

